## TODO: Copy the contents of this file into your own (git-ignored) `.env` file
##
## To load into session:
## > set -o allexport
## > source .env
## > set +o allexport
##
## Or in a one-liner:
## > set -o allexport && source .env && set +o allexport

TAP_ATHENA_AWS_ACCESS_KEY_ID=****
TAP_ATHENA_AWS_SECRET_ACCESS_KEY=****
TAP_ATHENA_S3_STAGING_DIR=s3://my-bucket-01/path/to/stage/dir
TAP_ATHENA_SCHEMA_NAME=default
TAP_ATHENA_AWS_REGION=us-east-2
